
body{
  background-image: url('../media/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#title{
  text-align: center;
  font-family: 'FrightWrite2';
  font-size: 50px;
  text-decoration: none;
  margin-top: 0px;
  color: #ffffff;
}

#controls{
  text-align: center;
  width: 170px;
  margin: auto;
  position: absolute;
  top: 30px;
  left: 0px;
}

#controls select, #controls input{
display: block;
margin: 15px 5px;
width: 151px;
font-family: 'FrightWrite2';
font-size: 16px;
}

input{
  font-size: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.24);
  color: #ffffff;
}

*::-webkit-input-placeholder {
    color: #ffffff;
}
*:-moz-placeholder {
    color: #ffffff;
}
*::-moz-placeholder {
    color: #ffffff;
}
*:-ms-input-placeholder {
    color: #ffffff;
}

#add{
  display: block;
  margin: 10px auto;
  width: 80px;
  border-radius: 5px;
  font-family: 'FrightWrite2';
  font-size: 16px;
}

h1{
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
  color: #ffffff;
}

#fighters{
  width: 50%;
  margin: auto;
  font-family: 'FrightWrite2';
  color: #ffffff;
}

.holder{
  width: 150px;
  display: inline-block;
  margin: auto 10px;
  background-color: rgba(52, 110, 158, 0.59);
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #213753;
}

.photo{
  width: 150px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.info{
  width: 150px;
  text-align: center;
}

.weapon{
  height: 50px;
  width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}

.train{
  width: 50px;
  height: 50px;
  background-image: url('../media/train.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;

}
