doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Face Off!
    link(rel='stylesheet', href='./css/app.css')
    link(rel='stylesheet', href='./css/buttons.css')
  body
    h1#title Ready...Set...FIGHT!

    #controls
      select#species.button-dropdown.button.button-rounded.button-flat-primary(data-buttons='dropdown')
        img.fa.fa-caret-down
        option Select Species
        option Dragon
        option Ninja
        option Clown
        option Alien
      select#gender.button-dropdown.button.button-rounded.button-flat-primary(data-buttons='dropdown')
        img.fa.fa-caret-down
        option Select Gender
        option Male
        option Female
      select#photo.button-dropdown.button.button-rounded.button-flat-primary(data-buttons='dropdown')
        img.fa.fa-caret-down
        option Select Photo
        option(value='../media/dragon.png') Dragon 1
        option(value='../media/dragon2.png') Dragon 2
        option(value='../media/dragon3.png') Dragon 3
        option(value='../media/ninja.png') Ninja 1
        option(value='../media/ninja2.png') Ninja 2
        option(value='../media/ninja3.png') Ninja 3
        option(value='../media/clown.png') Clown 1
        option(value='../media/clown2.png') Clown 2
        option(value='../media/clown3.png') Clown 3
        option(value='../media/alien.png') Alien 1
        option(value='../media/alien2.png') Alien 2
        option(value='../media/alien3.png') Alien 3
      select#weapon.button-dropdown.button.button-rounded.button-flat-primary(data-buttons='dropdown')
        img.fa.fa-caret-down
        option Select Weapon
        option Poison
        option Fire
        option Arrow
        option Axe
      input#name(type='text' placeholder='Name')
      input#age(type='text' placeholder='Age')
      button(class='button glow button-primary', id='add') Add
    #fighters
      h1 Fighters
      #dragon
        h2 Dragons:
      #ninja
        h2 Ninjas:
      #clown
        h2 Clowns:
      #alien
        h2 Aliens:

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='./js/buttons.js')
    script(src='./js/es6/utility.js')
    script(src='./js/es6/dragon.js')
    script(src='./js/es6/clown.js')
    script(src='./js/es6/ninja.js')
    script(src='./js/es6/alien.js')
    script(src='./js/es6/main.js')
